body {
    margin: 0;
    font-family: sans-serif;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
    margin-left: 15%;
}

table, td, th {
    border: 1px solid black;
    align-items: center;
    width: 70%;
    margin-left: 15%;
}



.content {
    align-items: center;
    width: 70%;
    margin-left: 15%;
}